.ac-header{
    margin-left: 75px;
    margin-top: 15px;
    color: black;
    width: 89%;
    font-weight: 10;
    word-wrap: break-word;
    
}

.activities-container a{
    color: black;
    text-decoration-line: none;
}
.ac-header h1{
    color: black;
    font-size: 30px;
    font-weight: 10;
    word-wrap: break-word;
}

.ac-subject-container{
    width: 700px;
    margin-top: 30px;
    margin-left: 75px;
    display: flex;
    
}

.act-pic{
    width: 700px;
}

.sub-con{
    margin-right: 50px;
    box-shadow: 0px 10px 10px gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 700px;
    margin-left: 75px;
    float: left;
}

.sub-con h1{
    font-size: 20px;
    font-weight: 10;
    height: 50px;
    padding-left: 10px;
    margin-bottom: -20px;
}
.sub-con h3{
    font-family: Orbitron;
    font-size: 10px;
    font-weight: 10;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-right: 5px;
}

.act-con{
    float: right;
    width: 350px;
    margin-right: 90px;
}

.act-con img{
    width: 100px;
}

.pend{
    font-size: 15px;
    font-weight: 10;
}

.acttitle{
    font-size: 15px;
    font-weight: 10;
    display: flex;
}

.ques{
    font-size: 10px;
    font-weight: 10;
    font-family: Orbitron;
    display: flex;
}



.act-2 {
    background-color: rgba(1, 1, 1, 5%);
    padding: 5px;
}