.thumbnail{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%; 
    min-height: 180px;
    max-height: 180px;   
}   
.content-wrapper{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.mycourses-list{
    display: flex;
    flex-direction: column;
}
.courselist-title{
    display: flex;
}
.courselist-title h1{
    font-size: 45px;
    font-weight: lighter;
}
.course-preview{
    border-color: rgba(198, 198, 198, 0.573);
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 5px;
    height: auto;
    cursor: pointer;
}

.course-grid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;  
}
.course-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
}

.course-title {
    font-size: 8px;
    line-height: 30px;
    margin-bottom: 3px;
    max-width: 100%;
}

.course-type h1{
    font-weight: lighter;
}

.course-type{
    font-size: 6px;
    margin-bottom: 15px;
}

.thumbnail-row{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
@media (max-width: 750px) {
    .course-grid {
      grid-template-columns: 1fr 1fr;
    }
    .course-preview{
    }
    .thumbnail {
        height: auto; /* Allow the height to adjust proportionally */
    }
}
  
@media (min-width: 751px) and (max-width: 1000px) {
    .course-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .course-preview{
    }
    .thumbnail {
        height: auto; /* Allow the height to adjust proportionally */
    }
}