html {
    font-family: 'Open Sans', 'Orbitron', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('./img/Intro Page.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgba(51, 51, 51, 0.8);
    overflow: hidden;
    border-bottom: 2px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* NNAVBAR STARTS HERE */

nav {
    overflow: hidden;
    border-bottom: 2px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; 
    padding: 0 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.nav-container {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3px 10px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
    margin-left: 50px;
}


nav a:hover {
    color: white;
}

nav a:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: purple;
    border-radius: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 14px 16px;
}

.logo-container img {
    max-height: 50px; 
    margin-right: 10px;
}

.site-name {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: -100px;
    font-family: 'Orbitron';
}

.cet-highlight {
    color: purple; 
    font-size: 30px;
}

.icon {
    display: none;
    cursor: pointer;
}

.get-started-btn {
    background-color: white;
    color: purple;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 10px;
    font-family: 'Orbitron';
    cursor: pointer;
    text-align: center;
}

.get-started-btn:hover {
    background-color: black;
}

/* NAVBAR ENDS HERE */

/* MAIN CONTENT STARTS HERE */

.main-content {
    padding: 40px; /* Adjust as needed */
    font-family: 'Orbitron';
}

.main-text {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.subtitle{
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    color: purple;
}
/* MAIN CONTENT ENDS HERE */

/* DROPDOWN FOR ABOUT STARTS HERE */
.dropdown {
    display: inline-block;
}

.dropbtn {
    margin-left: 40px;
    color: white;
    padding: 1px 1px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content {
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
    margin-left: 0%;
    font-family: 'Orbitron';
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid black;
    transition: color 0.3s;
}

.dropdown-content a:hover {
    color: purple;
    font-weight: bold;
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* FOOTER STARTS HERE */

footer {
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #555;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
}

.footer-container a {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

.footer-container a:hover {
    font-weight: bolder;
    text-decoration: underline;
    color:purple;
}

.copyright {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 1200px){
    .site-name{
        margin-left: 0;
    }
}

@media screen and (max-width: 1000px) {
    html{
        font-size: 62.5%;
    }

    .main-text{
        transform: scale(0.8);
    }
}

@media screen and (max-width: 600px) {
    /* Navbar minimize */
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-container {
        display: none;
    }

    .icon {
        display: block;
        margin: 14px 16px;
    }

    .get-started-btn {
        width: 100%;
    }

    .main-text{
        transform: scale(0.7);
    }
}