<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>White Owl</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'header.css')}}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'general.css')}}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'side-bar.css')}}"> 
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'sidebar-expand.css')}}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'courses.css')}}">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- <script defer src="static/js/courses.js"></script> -->
    <style type="text/css">
      .profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }

  /* Dropdown Styles */
  .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    margin-top: 13em;
    border-radius: 20px;
  }

  .profile:hover .dropdown {
    display: block;
  }

  .dropdown a {
    color: #333;
    padding: 12px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #C35CA3;
    color:white;
    border-radius: 20px;
  }
  .edit-profile-container {
max-width: 700px;
margin: 0 auto;
background-color: #fff;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

h3 {
font-size: 24px;
color: #333;
}

.form-group {
margin-bottom: 20px;
}

/* Add this to your existing CSS */

/* Image Upload Styles */
.image-upload {
margin-bottom: 20px;
}

.image-upload label {
display: block;
margin-bottom: 8px;
color: #555;
font-size: 12px;
}

.image-upload input {
display: block;
width: 100%;
padding: 10px;
font-size: 14px;
border: 1px solid #ddd;
border-radius: 3em;
box-sizing: border-box;
margin-bottom: 15px;
}

/* Form Styles */
.form-group {
margin-bottom: 20px;
}

label {
display: block;
margin-bottom: 8px;
color: #555;
font-size: 12px;
}

input {
width: 100%;
padding: 14px;
font-size: 16px;
border: none;
background-color: #ededed;
border-radius: 3em;
box-sizing: border-box;
}

button {
background-color: #B88CB1;
color: white;
width: 100%;
padding: 14px 20px;
border: none;
border-radius: 3em;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
background-color: #C35CA3;
}

  </style>
</head>
<body>
  <!--!!!!!!!!HEADER AND SIDEBAR!!!!!!!!!-->
  <div class="header">
      <div class="left-section">
          <i class="ri-menu-line menu-toggle" ></i>
      </div>
      <div class="middle-section">
          <img class="header-logo" src="static/img/wo-logo.png">
          <h1 class="header-text" >READY</h1>
          <h1 class="span-header">CET</h1>
          <h1 class="header-text">GO</h1>
      </div>
      <div class="profile" onclick="toggleDropdown()">
      <img src="static/img/RONALYN.png" alt="Profile Picture">
      <div class="dropdown">
        <a href="{{ url_for('profile')}}">Profile</a>
        <a href="{{ url_for('edit')}}">Edit Profile</a>
        <a href="{{ url_for('password')}}">Reset Password</a>
        <a href="#">Calendar</a>
        <a href="#" id="logoutLink">Logout</a>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script>
            document.addEventListener("DOMContentLoaded", function() {
              const logoutLink = document.getElementById("logoutLink");

              logoutLink.addEventListener("click", function(event) {
                event.preventDefault(); // Prevent default link behavior
                
                Swal.fire({
                  title: 'Are you sure you want to logout?',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, logout',
                  cancelButtonText: 'Cancel'
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.href = "{{ url_for('login')}}";
                  }
                });
              });
            });
          </script>
      </div>
    </div>
  </div>
  <nav class="side-bar">
      <a href="{{ url_for('home')}}">
          <div class="sidebar-menu">
              <img class="menu-icon" src="static/img/home.png">
          </div>
      </a>
      <a href="{{ url_for('courses')}}">
          <div class="sidebar-menu">
              <img class="menu-icon" src="static/img/courses-catalog.png">
          </div>
      </a>
      <a href="{{ url_for('mycourses')}}">
        <div class="sidebar-menu">
          <img class="menu-icon" src="static/img/my-courses.png">
        </div>
      </a>

      <a href="{{url_for('dashboard')}}">
        <div class="sidebar-menu">
          <img class="menu-icon" src="static/img/dashboard.png">
        </div>
      </a>
      
      <a href="{{ url_for('activities')}}"><div class="sidebar-menu">
          <img class="menu-icon" src="static/img/activities.png">
      </div></a>
      <div class="sidebar-menu">
          <img class="menu-icon" src="static/img/sign-out.png">
      </div>
      <a href="{{ url_for('help')}}"><div class="sidebar-menu">
          <img class="menu-icon" src="static/img/help.png">
      </div></a>
  </nav>
  <nav class="sidebar-expand">
      <a href="{{ url_for('home')}}">
          <div class="exp-sidebar-menu">
              <img class="menu-icon" src="static/img/home.png">
              <h2 class="menu-text">Home</h2>
          </div>
      </a>
      <a href="{{ url_for('courses')}}">
          <div class="exp-sidebar-menu">
              <img class="exp-menu-icon" src="static/img/courses-catalog.png">
              <h2 class="menu-text">Courses Catalog</h2>
          </div>
      </a>
      <a href="{{ url_for('mycourses')}}">
        <div class="exp-sidebar-menu">
          <img class="menu-icon" src="static/img/my-courses.png">
          <h2 class="menu-text">My Courses</h2>
        </div>
      </a>
      <a href="{{ url_for('dashboard')}}">
        <div class="exp-sidebar-menu">
          <img class="exp-menu-icon" src="static/img/dashboard.png">
          <h2 class="menu-text">Dashboard</h2>
        </div>
      </a>
      <a href="{{ url_for('activities')}}">
          <div class="exp-sidebar-menu">
              <img class="menu-icon" src="static/img/activities.png">
              <h2 class="menu-text">Activities</h2>
          </div></a>
      <div class="exp-sidebar-menu">
          <img class="exp-menu-icon" src="static/img/sign-out.png">
          <h2 class="menu-text">Sign Out</h2>
      </div>
      <a href="{{ url_for('help')}}">
        <div class="exp-sidebar-menu">
          <img class="exp-menu-icon" src="static/img/help.png">
          <h2 class="menu-text">Help</h2>
      </div>
      </a>

  </nav>

    <!--!!!!!!!!CONTENT!!!!!!!!!-->
    <p class="page-text header-title">COURSES</p>
    <div class="page-content">
        <div class="course-selection" id="courseSelection">
            <!-- Courses are created in courses.js -->
        </div>
    </div>

</body>
</html>
<script> 
    const side_expand = document.querySelector('.sidebar-expand');
    const page_expand = document.querySelector('body');
    const side_disappear = document.querySelector('.side-bar');
    document.querySelector('.menu-toggle').onclick = function(){
        this.classList.toggle('active');
        side_expand.classList.toggle('active');
        page_expand.classList.toggle('active');
        side_disappear.classList.toggle('active');
    }
</script>

<script>
  // Courses
const courses = [
    { name: 'HTML for Beginners', type: 'Web Design Courses', image: 'static/img/HTML.webp', video: 'videos/HTML.mp4',
    description: "Embark on a journey into the heart of web development with our comprehensive HTML course. Whether you're a complete beginner or looking to solidify your understanding of the fundamentals, this course is designed to equip you with the essential skills to create and structure web content. \nBy the end of this course, you'll have the knowledge and confidence to create well-structured, responsive web pages. Whether you're aspiring to become a web developer or simply want to understand the language that powers the web, our HTML course is your gateway to a world of endless possibilities. Enroll today and start building the web of tomorrow!"},
    { name: 'CSS for Beginners', type: 'Web Design Courses', image: 'static/img/CSS.jpg', video: 'videos/CSS.mp4',
    description: "Unlock the power of style and design with our CSS Mastery course. Whether you're a budding web designer or a seasoned developer looking to enhance your styling skills, this course is your gateway to creating visually stunning and responsive websites. \nWhether you're aiming to become a front-end developer or enhance your web design skills, our CSS Mastery course empowers you to transform your ideas into visually captivating and well-styled websites. Join us on this creative journey and elevate your web design game. Enroll today!" },
    { name: 'JavaScript for Beginners', type: 'Web Design Courses', image: 'static/img/JavaScript.webp', video: 'videos/JavaScript.mp4',
    description: "Embark on a dynamic journey into the world of web development with our JavaScript Essentials course. Whether you're a novice coder or looking to amplify your front-end and back-end skills, this course is your key to mastering the language that breathes life into modern web applications. \nWhether you're aiming to become a full-stack developer or enhance your front-end capabilities, our JavaScript Essentials course equips you with the skills to build robust and interactive web applications. Join us on this transformative coding journey and bring your web development aspirations to life. Enroll today!"},
    { name: 'Python: Basics for Starters', type: 'Programming Courses', image: 'static/img/Python.png', video: 'videos/Python.mp4',
    description: "Embark on a journey into the world of programming excellence with our Python Programming course. Whether you're a complete beginner or an experienced developer looking to add a powerful language to your repertoire, this course is designed to unlock the full potential of Python. \nWhether you aspire to be a web developer, data scientist, or automation expert, our Python Programming course equips you with the skills to excel in a variety of domains. Join us on this dynamic coding journey and harness the versatility of Python. Enroll today!"},
    { name: 'Java: Basics for Starters', type: 'Programming Courses', image: 'static/img/Java.jpg', video: 'videos/Java.mp4',
    description: "Embark on a Java journey that transcends the realms of software development with our comprehensive Java Mastery course. Whether you're new to programming or a seasoned developer aiming to master Java, this course is designed to equip you with the skills to build robust, scalable, and versatile applications. \nWhether you aspire to be a backend developer, enterprise architect, or mobile app creator, our Java Mastery course provides the comprehensive knowledge and skills needed to excel in diverse development scenarios. Join us on this transformative coding journey and elevate your Java proficiency. Enroll today!"},
];

function loadCourses() {
    const courseSelection = document.getElementById('courseSelection');

    // Creating HTML Elements
    courses.forEach((course, index) => {
        const courseBox = document.createElement('div');
        courseBox.className = 'course-box';
        courseBox.setAttribute('data-index', index); 

        const courseImage = document.createElement('img');
        courseImage.className = 'course-image';
        courseImage.src = course.image;

        const courseName = document.createElement('div');
        courseName.className = 'course-name';

        const courseTitle = document.createElement('p');
        courseTitle.className = 'page-text course-title';
        courseTitle.textContent = course.name;

        const courseType = document.createElement('p');
        courseType.className = 'page-text course-type';
        courseType.textContent = course.type;

        // Adding elements to div class course-box
        courseBox.appendChild(courseImage);
        courseBox.appendChild(courseName);
        courseName.appendChild(courseTitle);
        courseName.appendChild(courseType);

        // Add click event listener to each course box
        courseBox.addEventListener('click', function () {
            navigateToCourseDetail(index);
        });

        // Append div class course-box to the div class course-selection
        courseSelection.appendChild(courseBox);
    });
}

// Function to navigate to another HTML file with course details
function navigateToCourseDetail(index) {
    const course = courses[index];
    window.location.href = `{{ url_for('coursedetail')}}?name=${course.name}&video=${course.video}&description=${course.description}`;
}

window.onload = loadCourses;

</script>