<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Owl</title>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/dashboard-general.css">  
    <link rel="stylesheet" href="styles/side-bar.css">  
    <link rel="stylesheet" href="styles/sidebar-expand.css">  

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <!--!!!!!!!!HEADER AND SIDEBAR!!!!!!!!!-->
    <div class="header">
        <div class="left-section">
            <i class="ri-menu-line menu-toggle" ></i>
        </div>
        <div class="middle-section">
            <img class="header-logo" src="header-images/wo-logo.png">
            <h1 class="header-text" >READY</h1>
            <h1 class="span-header">CET</h1>
            <h1 class="header-text">GO</h1>
        </div>
        <div class="right-section">
            <img class="profile-logo" src="header-images/user-profile.png">
        </div>
    </div>
    <nav class="side-bar">
        <div class="sidebar-menu">
            <img class="menu-icon" src="side-bar-images/home.png">
        </div>
        <div class="sidebar-menu">
            <img class="menu-icon" src="side-bar-images/courses-catalog.png">
        </div>
        <div class="sidebar-menu">
            <img class="menu-icon" src="side-bar-images/my-courses.png">
        </div>
        <div class="sidebar-menu">
            <img class="menu-icon" src="side-bar-images/dashboard.png">
        </div>
        <div class="sidebar-menu">
            <img class="menu-icon" src="side-bar-images/activities.png">
        </div>
        <div class="sidebar-menu">
            <img class="menu-icon" src="side-bar-images/sign-out.png">
        </div>
        <div class="sidebar-menu">
            <img class="menu-icon" src="side-bar-images/help.png">
        </div>
    </nav>
    <nav class="sidebar-expand">
        <div class="exp-sidebar-menu">
            <img class="menu-icon" src="side-bar-images/home.png">
            <h2 class="menu-text">Home</h2>
        </div>
        <div class="exp-sidebar-menu">
            <img class="exp-menu-icon" src="side-bar-images/courses-catalog.png">
            <h2 class="menu-text">Courses Catalog</h2>
        </div>
        <div class="exp-sidebar-menu">
            <img class="menu-icon" src="side-bar-images/my-courses.png">
            <h2 class="menu-text">My Courses</h2>
        </div>
        <div class="exp-sidebar-menu">
            <img class="exp-menu-icon" src="side-bar-images/dashboard.png">
            <h2 class="menu-text">Dashboard</h2>
        </div>
        <div class="exp-sidebar-menu">
            <img class="menu-icon" src="side-bar-images/activities.png">
            <h2 class="menu-text">Activities</h2>
        </div>
        <div class="exp-sidebar-menu">
            <img class="exp-menu-icon" src="side-bar-images/sign-out.png">
            <h2 class="menu-text">Sign Out</h2>
        </div>
        <div class="exp-sidebar-menu">
            <img class="exp-menu-icon" src="side-bar-images/help.png">
            <h2 class="menu-text">Help</h2>
        </div>

    </nav>
    <!--↓↓↓↓ADD NALANG NG DIV NG CONTENT SA BABA ↓↓↓↓↓-->

    <div class="forum-side">
        <ul>
            <li id=""> 
                <div class=""> All courses </div>
            </li>
            <li id=""> 
                <div class=""> HTML for Beginners </div>
            </li>
            <li class="">
                <div> CSS for Beginners </div>
            </li>
            <li class=""> 
                <div> JavaScript for Beginners </div>
            </li>
            <li class=""> 
                <div> Python for Starters </div>
            </li>
            <li class=""> 
                <div> Java Basic for Starters </div>
            </li>
            
            
        </ul>
    </div>
    <div>
        <div class="search-ques">
            <form>
                <input id="search" placeholder="Search questions" type="search" name="q"><i class="ri-search-line"></i>
            </form>
        </div>
        <div class="forum-header">
            <h1> WHAT DO YOU NEED TO KNOW?</h1>
            <span><a href="question-forum.html" class="ask-ques"><u>Ask a question</u></a></span>       
        </div>
        <hr>
        <h5><a href=""> Refresh <i class="ri-refresh-line"></i></a> </h6>

        <div class="forum-content-wrap">
            <div class="user-forum">
                <h5>Huh Yunjin • CSS for Beginners</h5>
                <p> 1 hour ago</p>
            </div>

            <div class="forum-question">
                <p>How can I highlight my text?</p>
            </div>
            <div class="forum-answer">
                <a id="see" href="">See answers</a>
                <a id="answer" href="answer-forum.html"> Answer </a>
            </div>  
        </div>
        <div class="forum-content-wrap">
            <div class="user-forum">
                <h5>Hanni Pham • HTML for Beginners</h5>
                <p> 10 minutes ago</p>
            </div>

            <div class="forum-question">
                <p>What does HTML stands for?</p>
            </div>
            <div class="forum-answer">
                <a id="see" href="">See answers</a>
                <a id="answer" href="answer-forum.html"> Answer </a>
            </div>  
        </div>
        <div class="forum-content-wrap">
            <div class="user-forum">
                <h5>Bada Lee • JavaScript for Beginners</h5>
                <p> 2 hours ago</p>
            </div>

            <div class="forum-question">
                <p>What are the JavaScript data types?</p>
            </div>
            <div class="forum-answer">
                <a id="see" href="">See answers</a>
                <a id="answer" href="answer-forum.html"> Answer </a>
            </div>  
        </div>
        
        

        
    </div>

</body>
</html>
<script> 
    const side_expand = document.querySelector('.sidebar-expand');
    const page_expand = document.querySelector('body');
    const side_disappear = document.querySelector('.side-bar');
    document.querySelector('.menu-toggle').onclick = function(){
        this.classList.toggle('active');
        side_expand.classList.toggle('active');
        page_expand.classList.toggle('active');
        side_disappear.classList.toggle('active');
    }

   
    
</script>
