<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Courses</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'header.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'general.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'side-bar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'sidebar-expand.css')}}">  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'profile-dropdown.css')}}">  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'my-courses.css')}}">     


    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- <script src="script.js"></script> -->

    <style type="text/css">
        .profile {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .profile img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
    }
  
    /* Dropdown Styles */
    .dropdown {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 300px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      right: 0;
      margin-top: 13em;
      border-radius: 20px;
    }
  
    .profile:hover .dropdown {
      display: block;
    }
  
    .dropdown a {
      color: #333;
      padding: 12px;
      text-decoration: none;
      display: block;
    }
  
    .dropdown a:hover {
      background-color: #C35CA3;
      color:white;
      border-radius: 20px;
    }
    .edit-profile-container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  }
  
  h3 {
  font-size: 24px;
  color: #333;
  }
  
  .form-group {
  margin-bottom: 20px;
  }
  
  /* Add this to your existing CSS */
  
  /* Image Upload Styles */
  .image-upload {
  margin-bottom: 20px;
  }
  
  .image-upload label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 12px;
  }
  
  .image-upload input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3em;
  box-sizing: border-box;
  margin-bottom: 15px;
  }
  
  /* Form Styles */
  .form-group {
  margin-bottom: 20px;
  }
  
  label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 12px;
  }
  
  input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: none;
  background-color: #ededed;
  border-radius: 3em;
  box-sizing: border-box;
  }
  
  button {
  background-color: #B88CB1;
  color: white;
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 3em;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  
  button:hover {
  background-color: #C35CA3;
  }
  
    </style>
  </head>
  <body>
    <!--!!!!!!!!HEADER AND SIDEBAR!!!!!!!!!-->
    <div class="header">
        <div class="left-section">
            <i class="ri-menu-line menu-toggle" ></i>
        </div>
        <div class="middle-section">
            <img class="header-logo" src="static/img/wo-logo.png">
            <h1 class="header-text" >READY</h1>
            <h1 class="span-header">CET</h1>
            <h1 class="header-text">GO</h1>
        </div>
        <div class="profile" onclick="toggleDropdown()">
            <img style="margin-top: 20px;" src="static/img/user-profile.png" alt="Profile Picture">
        <div class="dropdown">
          <a href="{{ url_for('profile')}}">Profile</a>
          <a href="{{ url_for('edit')}}">Edit Profile</a>
          <a href="{{ url_for('password')}}">Reset Password</a>
          <a href="#">Calendar</a>
          <a href="#" id="logoutLink">Logout</a>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
              document.addEventListener("DOMContentLoaded", function() {
                const logoutLink = document.getElementById("logoutLink");
  
                logoutLink.addEventListener("click", function(event) {
                  event.preventDefault(); // Prevent default link behavior
                  
                  Swal.fire({
                    title: 'Are you sure you want to logout?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, logout',
                    cancelButtonText: 'Cancel'
                  }).then((result) => {
                    if (result.isConfirmed) {
                      window.location.href = "{{ url_for('login')}}";
                    }
                  });
                });
              });
            </script>
        </div>
      </div>
    </div>
    <nav class="side-bar">
        <a href="{{ url_for('home')}}">
            <div class="sidebar-menu">
                <img class="menu-icon" src="static/img/home.png">
            </div>
        </a>
        <a href="{{ url_for('courses')}}">
            <div class="sidebar-menu">
                <img class="menu-icon" src="static/img/courses-catalog.png">
            </div>
        </a>
        <a href="{{ url_for('mycourses')}}">
          <div class="sidebar-menu">
            <img class="menu-icon" src="static/img/my-courses.png">
          </div>
        </a>
  
        <a href="{{url_for('dashboard')}}">
          <div class="sidebar-menu">
            <img class="menu-icon" src="static/img/dashboard.png">
          </div>
        </a>
        
        <a href="{{ url_for('activities')}}"><div class="sidebar-menu">
            <img class="menu-icon" src="static/img/activities.png">
        </div></a>
        <div class="sidebar-menu">
            <img class="menu-icon" src="static/img/sign-out.png">
        </div>
        <a href="{{ url_for('help')}}"><div class="sidebar-menu">
            <img class="menu-icon" src="static/img/help.png">
        </div></a>
    </nav>
    <nav class="sidebar-expand">
        <a href="{{ url_for('home')}}">
            <div class="exp-sidebar-menu">
                <img class="menu-icon" src="static/img/home.png">
                <h2 class="menu-text">Home</h2>
            </div>
        </a>
        <a href="{{ url_for('courses')}}">
            <div class="exp-sidebar-menu">
                <img class="exp-menu-icon" src="static/img/courses-catalog.png">
                <h2 class="menu-text">Courses Catalog</h2>
            </div>
        </a>
        <a href="{{ url_for('mycourses')}}">
          <div class="exp-sidebar-menu">
            <img class="menu-icon" src="static/img/my-courses.png">
            <h2 class="menu-text">My Courses</h2>
          </div>
        </a>
        <a href="{{ url_for('dashboard')}}">
          <div class="exp-sidebar-menu">
            <img class="exp-menu-icon" src="static/img/dashboard.png">
            <h2 class="menu-text">Dashboard</h2>
          </div>
        </a>
        <a href="{{ url_for('activities')}}">
            <div class="exp-sidebar-menu">
                <img class="menu-icon" src="static/img/activities.png">
                <h2 class="menu-text">Activities</h2>
            </div></a>
        <div class="exp-sidebar-menu">
            <img class="exp-menu-icon" src="static/img/sign-out.png">
            <h2 class="menu-text">Sign Out</h2>
        </div>
        <a href="{{ url_for('help')}}">
          <div class="exp-sidebar-menu">
            <img class="exp-menu-icon" src="static/img/help.png">
            <h2 class="menu-text">Help</h2>
        </div>
        </a>
  
    </nav>
    <!--↓↓↓↓ADD NALANG NG DIV NG CONTENT SA BABA ↓↓↓↓↓-->
    <div class="content-wrapper">
        <div class="mycourses-list">
            <div class="courselist-title">
                <h1>My Courses</h1>
            </div>
            <div class="course-grid">
                <div class="course-preview" onclick="redirectHTML()">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="static/img/HTML1.avif">
                    </div>
                    <div class="course-info">
                        <div class="course-title">
                            <h1>HTML for Beginners</h1>
                        </div>
                        <div class="course-type">
                            <h1>Web Design Courses</h1>
                        </div>
                    </div>
                </div>
                <div class="course-preview" onclick="redirectCSS()">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="static/img/css1.png">
                    </div>
                    <div class="course-info">
                        <div class="course-title">
                            <h1>CSS for Beginners</h1>
                        </div>
                        <div class="course-type">
                            <h1>Web Design Courses</h1>
                        </div>
                    </div>
                </div>
                <div class="course-preview" onclick="redirectJavaS()">
                    <div class="thumbnail-row">
                        <img class="thumbnail" style="width: 100%;" src="static/img/javascript1.png">
                    </div>
                    <div class="course-info">
                        <div class="course-title">
                            <h1>JavaScript for Beginners</h1>
                        </div>
                        <div class="course-type">
                            <h1>Web Design Courses</h1>
                        </div>
                    </div>
                </div>
                <div class="course-preview" onclick="redirectPython()">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="static/img/python1.png">
                    </div>
                    <div class="course-info">
                        <div class="course-title">
                            <h1>Python: Basics for Starters</h1>
                        </div>
                        <div class="course-type">
                            <h1>Web Design Courses</h1>
                        </div>
                    </div>
                </div>
                <div class="course-preview" onclick="redirectJava()">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="static/img/java1.png">
                    </div>
                    <div class="course-info">
                        <div class="course-title">
                            <h1>Java: Basics for Starters</h1>
                        </div>
                        <div class="course-type">
                            <h1>Web Design Courses</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const side_expand = document.querySelector('.sidebar-expand');
    const page_expand = document.querySelector('body');
    const side_disappear = document.querySelector('.side-bar');
    const menu_toggle = document.querySelector('.menu-toggle');
    
    if (menu_toggle) {
        menu_toggle.onclick = function() {
            this.classList.toggle('active');
            side_expand.classList.toggle('active');
            page_expand.classList.toggle('active');
            side_disappear.classList.toggle('active');
        };
    }

    const profile_dropdown = document.querySelector('.profile-dropdown');
    const profile_logo = document.querySelector('.profile-logo');
    
    if (profile_logo) {
        profile_logo.addEventListener('click', function() {
            this.classList.toggle('active');
            profile_dropdown.classList.toggle('active');
        });
    }

    const cont_page = document.querySelector('.content-page-2');
    const h_content = document.querySelector('#h-content');
    
    if (h_content) {
        h_content.addEventListener('click', function() {
            this.classList.toggle('active');
            cont_page.classList.toggle('active');
        });
    }

    const h_introElement = document.querySelector('#h-intro');
    const coursePage1Element = document.querySelector('.course-page-1');
    const coursePage2Element = document.querySelector('.course-page-2');
    
    if (h_introElement) {
        h_introElement.addEventListener('click', function() {
            coursePage1Element.classList.add('active');
            coursePage2Element.classList.remove('active');
        });
    }

    const h_contentElement = document.querySelector('#h-content');
    
    if (h_contentElement) {
        h_contentElement.addEventListener('click', function() {
            coursePage2Element.classList.add('active');
            coursePage1Element.classList.remove('active');
        });
    }

    // Add event listeners for modules (module1, module2, module3, module4) here...
});

function redirectJava() {
    window.location.href = "{{ url_for('java_course')}}";
    }
    
    function redirectPython() {
    window.location.href = "{{ url_for('python_course')}}";
    }
    
    function redirectJavaS() {
    window.location.href = "{{ url_for('java_course')}}";
    }
    
    function redirectCSS() {
    window.location.href = "{{ url_for('css_course')}}";
    }
    
    function redirectHTML() {
    window.location.href = "{{ url_for('html_course')}}";
    }
    
    function redirectMyCourses() {
    window.location.href = "{{ url_for('mycourses')}}";
    }


const m1Element = document.querySelector('#m1');
const m11Element = document.querySelector('#m11');
const m11_eElement = document.querySelector('#m11e');
const m12Element = document.querySelector('#m12');
const m12_eElement = document.querySelector('#m12e');
const module1Element = document.querySelector('#m1cont');

//module1
m1Element.addEventListener('click', function() {
    module1Element.classList.toggle('active');
});

m11Element.addEventListener('click', function() {
    this.classList.toggle('active');
});

m11_eElement.addEventListener('click', function() {
    this.classList.toggle('active');
});

m12Element.addEventListener('click', function() {
    this.classList.toggle('active');
});

m12_eElement.addEventListener('click', function() {
    this.classList.toggle('active');
});

//module2
const m2Element = document.querySelector('#m2');
const m21Element = document.querySelector('#m21');
const m21_eElement = document.querySelector('#m21e');
const m22Element = document.querySelector('#m22');
const m22_eElement = document.querySelector('#m22e');
const module2Element = document.querySelector('#m2cont');

m2Element.addEventListener('click', function() {
    module2Element.classList.toggle('active');
});

m21Element.addEventListener('click', function() {
    this.classList.toggle('active');
});

m21_eElement.addEventListener('click', function() {
    this.classList.toggle('active');
});

m22Element.addEventListener('click', function() {
    this.classList.toggle('active');
});

m22_eElement.addEventListener('click', function() {
    this.classList.toggle('active');
});

//module3
const m3Element = document.querySelector('#m3');
const m31Element = document.querySelector('#m31');
const m31_eElement = document.querySelector('#m31e');
const m32Element = document.querySelector('#m32');
const m32_eElement = document.querySelector('#m32e');
const module3Element = document.querySelector('#m3cont');

m3Element.addEventListener('click', function() {
    module3Element.classList.toggle('active');
});

m31Element.addEventListener('click', function() {
    this.classList.toggle('active');
});

m31_eElement.addEventListener('click', function() {
    this.classList.toggle('active');
});

m32Element.addEventListener('click', function() {
    this.classList.toggle('active');
});

m32_eElement.addEventListener('click', function() {
    this.classList.toggle('active');
});

//module4
const m4Element = document.querySelector('#m4');
const m41Element = document.querySelector('#m41');
const m41_eElement = document.querySelector('#m41e');
const m42Element = document.querySelector('#m42');
const m42_eElement = document.querySelector('#m42e');
const module4Element = document.querySelector('#m4cont');

m4Element.addEventListener('click', function() {
    module4Element.classList.toggle('active');
});

m41Element.addEventListener('click', function() {
    this.classList.toggle('active');
});

m41_eElement.addEventListener('click', function() {
    this.classList.toggle('active');
});

m42Element.addEventListener('click', function() {
    this.classList.toggle('active');
});

m42_eElement.addEventListener('click', function() {
    this.classList.toggle('active');
});

</script>