<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'signup.css')}}">
    <link rel="stylesheet" href="https://icons8.com/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap">
    <title>Sign up Page</title>
</head>
<body>

    <div class="main-content">
        <div class="panels-container">
            <div class="left-panel">
                <div class="left-card">
                    <h1 class="signup">Sign <span class="up"> Up </span></h1>
                    <form action="{{ url_for('signup') }}" method="post">
                    {% if message is defined and message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}

                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" name="name">

                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">

                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
               
                        <button type="submit">
                            Submit
                            <img class="continue-btn" src="static/img/continue btn.png" alt="Icon description">
                        </button>
                    </form>
                    <h3 class="login">Already have an account? <a href="{{url_for('login')}}" onclick="redirectToLogIn()">Log In here.</a></h3>
                </div>
            </div>
            
            <div class="right-panel">
                <div class="right-card">
                    <h2 class="text-left-intro">WELCOME!</h2>
                    <p class="text-left">Unlock your potential in<br>
                        Computer Engineering today!</p>
                </div>
                <div class="logo-container">
                    <img src="static/img/logo1.png" alt="Logo">
                </div>
            </div>
        </div>

<footer>
    <div class="footer-container">
        <a href="#home" onclick="redirectToHome()">Home</a>
        <a href="#contact" onclick="redirectToContact()">Contact</a>
        <a href="#faq" onclick="redirectToFAQ()">FAQ</a>
        <a href="#help" onclick="redirectToHelp()">Help</a>
        <a href="#terms" onclick="redirectToTermsandConditions()">Terms and Conditions</a>
        <a href="#privacy" onclick="redirectToPrivacyandPolicy()">Privacy and Policy</a>
    </div>
    <div class="copyright">
        &copy; 2023 White Owl Corp. All rights reserved.
    </div>
</footer>

<script src="../script/script.js"></script>

</body>
</html>
